@import url('https://fonts.googleapis.com/css2? família= Inter:wght@600;800 & display=swap');

:root{
    --black: #212121;
    --charcoal: #323232;
    --prismarine: #0D7377;
    --teal: #14FFEC;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--black);
    font-weight: bold;
}

body, button, input, select, textarea {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    color: white;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

h1{
    font-weight: bold;
}

p {
    /* Sou um desenvolvedor amador de aplicações que às vezes funcionam. */

    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}

button {
    background: var(--prismarine);
    border: 0;
    border-radius: 15px;
    padding: 8px 32px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

header {
    /* background: red; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}   

header .container img{
    display: none;  
}

header .container h1 {
    color: var(--prismarine);
    font-size: 48px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav ul a {
    color: var(--teal);
    font-size: 20px;
    text-decoration: none;
    margin: 0 35px;
}

nav ul a svg {
    display: none;
}

.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container img {
    width: 50%;
    height: 100%;
}

.about-me .container h1{
    color: var(--prismarine);
}

nav img {
    height: 26px;
}

@media (max-width:767px) {
    header .container{
        width: 100%;
    }
    header .container img{
        display: inline;
        height: 55px;
        margin-bottom: 75px;
    }
    nav img{
        display: none;
    }
}

@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav{
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }
    
}
